* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  min-width: 200px;
}

.container{
  display: flex;
  flex-direction: column;
  padding:2rem;
}

.title{
  text-align: center;
  padding:2rem;
}

.calculator{
  display: grid;
  width: 100%;
  height: 100%;
  
  background-color:navy;
  color:white;
  grid-template-rows:repeat(7, 1fr);
  grid-template-columns:  repeat(4, 1fr);
  grid-template-areas:var(--template);
}
.outcome__upper{
  grid-area:upper;
}
.outcome__down{
  grid-area:down;
}
         
.--vaule-canc{
  grid-area: C;
}
.--vaule-plusmin{
  grid-area: plusmin;
}
.--vaule-perc{
  grid-area: perc;
}
.--vaule-del{
  grid-area: DEL;
}
.--vaule-7{
  grid-area:seven;
}
.--vaule-8{
  grid-area:eight;
}
.--vaule-9{
  grid-area:nine;
}
.--vaule-divide{
  grid-area:div;
}
.--vaule-4{
  grid-area:four;
}
.--vaule-5{
  grid-area:five;
}
.--vaule-6{
  grid-area:six;
}
.--vaule-multiply{
  grid-area:x;
}
.--vaule-1{
  grid-area:one;
}
.--vaule-2{
  grid-area: two;
}
.--vaule-3{
  grid-area: three;
}
.--vaule-minus{
grid-area: minus;
}
.--vaule-one{
  grid-area:one;
}
.--vaule-dot{
  grid-area:dott;
}
.--vaule-equal{
  grid-area:eq;
}
.--vaule-plus{
  grid-area:plus;
}
.--vaule-zero{
  grid-area:zero;
}

